# RENAME THIS FILE TO .env AND FILL IN YOUR ENVIRONMENT VARIABLES
# HAPPY CODING!


# APPLICATION VARIABLES
PORT="your-port-number - (e.g: 3000)"
ALLOWED_ORIGINS="your-origins"
DATABASE_URL_DEV="your-dev-db"
DATABASE_URL_PROD="your-prod-db"

# WASENDER VARIABLES
WASENDER_API_KEY="your-wasender-api-key"